-e .
bandit==1.8.5
black==25.1.0
flake8-bugbear==24.12.12
flake8==7.3.0
ipdb==0.13.13
isort==6.0.1
mypy==1.17.0
numpy==2.0.2
pyroma==4.2
pytest-cov==6.2.1
pytest==8.4.1
pytorch_ranger==0.1.1
sphinx-autodoc-typehints==2.3.0
sphinx==7.4.7
torch==2.7.1
twine==6.1.0
wheel==0.45.1
